{% extends 'base.html' %}
{% block content %}
{% include 'header.html' %}
<br>
<br>
<table class="table table-sm">
    <thead>
    <th>Mã hoá đơn</th>
    <th>Sản phẩm</th>
    <th>Số lượng</th>
    <th>Tổng</th>
    <th>Trạng thái</th>

    </thead>
    <tbody>
    {% for order in orders %}
    {% for key, product in order.orders.items() %}
    {% set discount =(product.discount/100) * product.price |float %}
    {% set subtotal = product.quantity|int * product.price|float %}
    <tr>
        <td> {{order.invoice}}</td>
        <td>{{product.name}}</td>
        <td>
            {{product.quantity}}
        </td>
        <td>${{"%.2f"|format(subtotal - discount|round(1,'floor')) }}</td>
        <td>{{order.status}}</td>
    </tr>
    {% endfor %}
    {% endfor %}
    </tbody>
</table>


{% endblock content %}